.container {
  display: grid;
  grid-template-rows: 80vh repeat(4, -webkit-min-content);
  grid-template-rows: 80vh repeat(4, min-content);

  grid-template-columns: repeat(7, minmax(-webkit-min-content, 1fr)) 1fr;
  grid-template-columns: repeat(7, minmax(min-content, 1fr)) 1fr;
}
