/*
background-image: linear-gradient(51deg, #25bfcb, #e628a4);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 60%, 50% 100%, 0 60%);
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 50% 100%, 0 60%);


*/
.header {
  height: 95vh;
  background-image: linear-gradient(51deg, #25bfcb, #e628a4);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 60%, 50% 100%, 0 60%);
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 50% 100%, 0 60%);
  background-size: cover;
  background-position: top;
  position: relative;
  grid-column: 1 / -1;

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-55%, -55%);
    text-align: center;
  }
}
