.banner {
  position: relative;

  grid-column: center-start / col-end 8;
  padding: 16rem 5% 155px;
  justify-content: center;
  align-items: center;
  background-image: url("../img/header__curve.svg"),
    linear-gradient(51deg, #25bfcb, #e628a4);
  background-position: 50% 100%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.hero-grid {
  display: -ms-grid;
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin-top: -15rem;
}
.left-part {
  margin-top: -50px;
}

.hero-title {
  width: 89%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 65px;
  line-height: 57px;

  -webkit-animation-name: moveInLeft;

  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.top-margin.more {
  margin-top: 40px;
}

.photo-wrapper {
  position: relative;
  z-index: 1;
  width: 80%;
}

img {
  display: inline-block;
  max-width: 98%;
  vertical-align: middle;
}

.big-text {
  position: absolute;
  left: auto;
  top: 0%;
  right: 25px;
  bottom: 0%;
  transform: rotate(90deg);
  color: hsla(0, 0%, 100%, 0.05);
  font-size: 105px;
  line-height: 110px;
  letter-spacing: 5px;
}

.gray-color {
  color: $color-gray-light-2;
}

.containertwo {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}

.realtive-div {
  display: block;
}
