* {
  margin: 0;
  padding: 0;
  // box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5%
}

a {
  text-decoration: none;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.container {
  display: grid;
  grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}
