.skillsset {
  display: grid;
  grid-column: center-start / -1;
  grid-template-columns: repeat(8, auto);
  // grid-template-rows: repeat(2, auto);
  grid-gap: 4rem;
  margin: 2rem;
  align-items: center;

  &__icon-1 {
    width: 5rem;
    height: 5rem;
  }

  &__icon-2 {
    width: 5rem;
    height: 5rem;
  }

  &__icon-3 {
    width: 5rem;
    height: 5rem;
  }

  &__icon-4 {
    width: 5rem;
    height: 5rem;
  }

  &__icon-5 {
    width: 5rem;
    height: 5rem;
  }

  &__icon-6 {
    width: 5rem;
    height: 5rem;
  }

  &__icon-7 {
    width: 5rem;
    height: 5rem;
  }

  &__icon-8 {
    width: 5rem;
    height: 5rem;
  }
}

.projects {
  background-color: blue;
  grid-column: col-start 1 / col-end 8;
}

.aboutmephotos {
  background-color: yellow;
  grid-column: center-start / col-end 4;
}

.aboutmetext {
  background-color: purple;
  grid-column: col-start 5 / col-end 8;
}

.contact {
  background-color: salmon;
  grid-column: center-start / col-end 8;
}
