.skillsset {
  background-color: red;
}

.projects {
  background-color: blue;
}

.aboutme {
  &__photos {
    background-color: yellow;
  }

  &__text {
    background-color: purple;
  }
}

.contact {
  background-color: salmon;
}
