.skills__set {
  display: grid;
  grid-column: full-start / col-end 6;
  justify-content: center;
  background-color: red;
}

.hero__photo {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
}
